
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 10px;
    background-color: #fffdfd;
    color: rgb(0, 0, 0);
}
.logo-container{
    display:flex;
}
.logo{
    width: 20%;
    height: auto;
}

.title h1 {
    margin: 0;
}


.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-weight: bold;
}

.navigation ul li {
    position: relative;
}

.navigation ul li a {
    display: block;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.navigation ul li a:hover,
.navigation ul li:hover .dropbtn {
    background-color: #171717;
    color:rgb(210, 16, 200)
}
/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 1%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: 85vh;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    font-weight: bolder;
    border-radius: 10px;
}
footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
footer p {
    margin: 0;
    font-size: 18px;
    font-weight: bolder;
}
